<div class="parent">
    <div class="head">
        <template v-if="node.showSign || showSign">
            <i class="fa" v-if="node.children.length" :class="[ node.expanded ? 'fa-chevron-down' : 'fa-chevron-up']" @click.stop.prevent="expandToggle"></i>
            <i v-else class="fa fa-chevron-right"></i>
        </template>
        <checkbox v-for="(index, item) in node.items"
                  :checked="item.checked"
                  :half-checked="item.halfChecked"
                  :disabled="item.disabled"
                  :is-label-only="!showCheckbox"
                  @change.stop.prevent="checkToggle(index)">{{item.text}}
        </checkbox><span class="nodes-desc">{{ node.text }}</span>
    </div>
    <div class="children" v-if="node.expanded && node.children.length" :class="{'has-sign': node.showSign || showSign}">
        <ui-multi-node v-for="node in node.children"
                       :node="node"
                       :show-sign="showSign"
                       :show-checkbox="showCheckbox"
                       @select="select"></ui-multi-node>
    </div>
</div>
