<div class="parent">
    <div class="head">
        <template v-if="node.showSign || showSign">
            <i class="fa" v-if="node.children.length" :class="[ node.expanded ? 'fa-chevron-down' : 'fa-chevron-up']" @click.stop.prevent="expandToggle"></i>
            <i v-else class="fa fa-chevron-right"></i>
        </template>
        <checkbox :checked="node.checked"
                  :half-checked="node.halfChecked"
                  :disabled="node.disabled"
                  :is-label-only="!showCheckbox"
                  :style="{'background-color': node.isSingleSelect && node.checked ? '#D9EEFD' : '#FFF'}"
                  @change.stop.prevent="checkToggle">{{node.text}}</checkbox>
    </div>
    <div class="children" v-if="node.expanded && node.children.length" :class="{'has-sign': node.showSign || showSign}">
        <ui-single-node v-for="node in node.children"
                        :node="node"
                        :show-sign="showSign"
                        :show-checkbox="showCheckbox"
                        @select="select"></ui-single-node>
    </div>
</div>
